<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Productos de limpieza</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- bower:css -->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
        <!-- endbower -->
        <!-- bower:js -->
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/lib/jquery.sticky/jquery.sticky.js"></script>
        <!-- endbower -->   
        <!-- inject:css -->
        <link rel="stylesheet" href="/css/animate.min.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/owl.carousel.css">
        <link rel="stylesheet" href="/css/responsive.css">

        <link rel="stylesheet" href="/css/simple-sidebar.css">
        <!-- endinject -->
        <!-- inject:js -->
        <script src="/js/jquery.nav.js"></script>
        <script src="/js/jquery.sticky.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/wow.min.js"></script>
        <!-- endinject -->
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	</head>
	<body>
    <nav id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <nav class="navbar navbar-default">
                          <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                                  <a class="navbar-brand" href="#">
                                   
                                  </a>

                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav navbar-right" id="top-nav">
                                <% for(var i=0; i<nav.length; i++){%>
                                    <li>
                                    <a href="<%=nav[i].Link%>"><%=nav[i].Text%></a></li>
                                <%}%>
                              </ul>
                            </div><!-- /.navbar-collapse -->
                          </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
	</nav><!-- header close -->

    <div id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="heading wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms"><span>CONSULTAS</span></h1>
                        <h3 class="title wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">Envianos tus <span>CONSULTAS</span> </h3>
                        <form>
                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nombre...">
                            </div>
                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                                <input type="text" class="form-control" placeholder="Email...">
                            </div>
                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
                                <textarea class="form-control" rows="3" placeholder="Mensaje..."></textarea>
                            </div>
                        </form>
                        <a class="btn btn-default wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms" href="#" role="button">Enviar Consulta</a>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
          
        </div><!-- .container close -->
    </div><!-- #contact-us close -->
    <!--
    footer  start
    ============================= -->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="block wow fadeInLeft"  data-wow-delay="200ms">
                        <h3>Información de <span>CONTACTO</span></h3>
                        <div class="info">
                            <ul>
                                <li>
                                  <h4><i class="fa fa-phone"></i>Teléfono</h4>
                                  <p>(221) 15 363-783 - (221) 15 363-783</p>
                                    
                                </li>
                                <li>
                                  <h4><i class="fa fa-map-marker"></i>Dirección</h4>
                                  <p>124 Bis N° 674 e/ 45 y 46</p>
                                </li>
                                <li>
                                  <h4><i class="fa fa-envelope"></i>Email</h4>
                                  <p>limpieza@gmail.com - limpieza@gmail.com</p>
                                  
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .col-md-4 close -->
               
                <!-- .col-md-4 close -->
                <div class="col-md-6">
                    <div class="block wow fadeInLeft"  data-wow-delay="1100ms">
                      
                            <h3>Seguinos en las <span>REDES SOCIALES</span></h3>
                              <div class="social-media-link">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                            </ul>
</div>
                    </div>
                </div>
                <!-- .col-md-4 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #footer close -->
    <!--
    footer-bottom  start
    ============================= -->
    <footer id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block">
                        <p><a href="#">Gracias por elegir nuestros productos</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	</body>
</html>