<footer id="footer-bottom">
    <div class="row text-center">
        <div class="col-lg-12">
            <p>LS Limpieza - 124 Bis n°674, El Dique - (0221) 363-7839 - LSLimpieza@gmail.com</p>
        </div>
    </div>
</footer>