<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=title%></title>
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/simple-sidebar.css">
    <!-- endinject -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/admin/panel">
                        Admin Panel
                    </a>
                </li>
                <% for(var i=0; i<nav.length; i++){%>
                    <li>
                    <a href="<%=nav[i].Link%>"><%=nav[i].Text%></a></li>
                <%}%>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
                        <p>Este es el panel de control del Administrador del Sitio. Desde aquí se lleva a cabo la carga, modificacion y borrado de:</p>
                        <ol>
                            <li>Precios</li>
                            <li>Ofertas</li>                           
                        </ol>
                        <p>También se podran cargar configuraciones generales como:</p>
                         <ol>
                            <li>Vigencia de precios</li>
                            <li>Vigencia de Ofertas</li>
                            <li>Datos de contacto</li>                                                    
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>

</html>
