<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=title%></title>
    <!-- inject:css -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <!-- endinject -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <nav class="navbar navbar-inverse sidebar" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Admin Panel</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <% for(var i=0; i<nav.length; i++){%>
                                        <li>
                                        <a href="<%=nav[i].Link%>"><%=nav[i].Text%></a></li>
                <%}%>
                </ul>
            </div>
        </div>
    </nav>  
    <div class="container pull-left">
        <div class="row ">
            <div class="col-md-offset-1 col-sm-12 col-lg-12 ">
                <h1>Panel Administrador</h1>
                <p>Este es el panel de control del Administrador del Sitio. Desde aquí se lleva a cabo la carga, modificacion y borrado de:</p>
                <ol>
                    <li>Precios</li>
                    <li>Ofertas</li>                           
                </ol>
                <p>También se podran cargar configuraciones generales como:</p>
                    <ol>
                    <li>Vigencia de precios</li>
                    <li>Vigencia de Ofertas</li>
                    <li>Datos de contacto</li>                                                    
                </ol>
            </div>
        </div>
    </div>
</body>

</html>
